@model BioRec___Empleados.Models.ProductoPublicado

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">

    <h1 class="display-1 titulo">Publicar un producto para la venta</h1>

</div>
<br />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="id" value="@ViewBag.idProducto" hidden>
    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            Nombre
            <input asp-for="nombre" class="form-control" />
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            Descripción
            <input asp-for="descripcion" class="form-control" />
            <span asp-validation-for="descripcion" class="text-danger"></span>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            Precio
            <input asp-for="precio" class="form-control" />
            <span asp-validation-for="precio" class="text-danger"></span>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <div class="col text-center">
                <input type="submit" value="Publicar" class="btn btn-info botonPred" style="width: 50%;">
            </div>
        </div>
    </div>
</form>
  
<form>
    <div class="form-group row">
        <div class="col-12">
            <div class="col text-center">
                <button asp-controller="Producto" asp-action="IndexProducto" class="btn btn-info botonPred" style="width: 50%;">Volver a la lista</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
