@model BioRec___Empleados.Models.ProductoPublicado

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-1 titulo">Eliminar publicación</h1>
    <h5 class="text-black">¿Está seguro de que desea eliminar esta publicación?</h5>
</div>
<hr />


<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <h3>Producto:</h3>
        <h5 class="text-secondary">@Html.DisplayFor(model => model.Producto.nombre)</h5>
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <h3>Nombre:</h3>
        <h5 class="text-secondary">@Html.DisplayFor(model => model.nombre)</h5>
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <h3>Descripción:</h3>
        <h5 class="text-secondary">@Html.DisplayFor(model => model.descripcion)</h5>

    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <h3> Precio:</h3>
        <h5 class="text-secondary"> @Html.DisplayFor(model => model.precio)</h5>


    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="id" />
    <div class="form-group row">
        <div class="col-3"></div>
        <div class="col-md-6">
            <button class="btn btn-block btn-info botonPred">Eliminar</button>
        </div>
    </div>

</form>

<form>
    <div class="form-group row">
        <div class="col-3"></div>
        <div class="col-md-6">
            <button asp-controller="Producto" asp-action="IndexProducto" class="btn btn-block btn-info botonPred">Volver a la lista</button>
        </div>
    </div>
</form>
