@model BioRec___Empleados.Models.Proveedor_Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proveedor_Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidadTotal" class="control-label"></label>
                <input asp-for="cantidadTotal" class="form-control" />
                <span asp-validation-for="cantidadTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costoPorUnidad" class="control-label"></label>
                <input asp-for="costoPorUnidad" class="form-control" />
                <span asp-validation-for="costoPorUnidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProducto" class="control-label"></label>
                <select asp-for="idProducto" class ="form-control" asp-items="ViewBag.idProducto"></select>
            </div>
            <div class="form-group">
                <label asp-for="idProveedor" class="control-label"></label>
                <select asp-for="idProveedor" class ="form-control" asp-items="ViewBag.idProveedor"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
