@model IEnumerable<BioRec___Empleados.Models.Proveedor>

@{
    ViewData["Title"] = "Index Proveedores";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Añade un nuevo proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre proveedor
            </th>
            <th></th>
            <th></th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreProveedor)
                </td>
                <td></td>
                <td></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idProveedor">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idProveedor">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
