@model BioRec___Empleados.Models.RegistroProveedorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RegistroProveedorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idProveedor" />
            <div class="form-group">
                <label asp-for="nombreProveedor" class="control-label"></label>
                <input asp-for="nombreProveedor" class="form-control" />
                <span asp-validation-for="nombreProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoVia" class="control-label"></label>
                <input asp-for="tipoVia" class="form-control" />
                <span asp-validation-for="tipoVia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroVia" class="control-label"></label>
                <input asp-for="numeroVia" class="form-control" />
                <span asp-validation-for="numeroVia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroViaSecundario" class="control-label"></label>
                <input asp-for="numeroViaSecundario" class="form-control" />
                <span asp-validation-for="numeroViaSecundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroCasa" class="control-label"></label>
                <input asp-for="numeroCasa" class="form-control" />
                <span asp-validation-for="numeroCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoInmueble" class="control-label"></label>
                <input asp-for="tipoInmueble" class="form-control" />
                <span asp-validation-for="tipoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroInmueble" class="control-label"></label>
                <input asp-for="numeroInmueble" class="form-control" />
                <span asp-validation-for="numeroInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ciudad" class="control-label"></label>
                <input asp-for="ciudad" class="form-control" />
                <span asp-validation-for="ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departamento" class="control-label"></label>
                <input asp-for="departamento" class="form-control" />
                <span asp-validation-for="departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pais" class="control-label"></label>
                <input asp-for="pais" class="form-control" />
                <span asp-validation-for="pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
